[2018-06-08 14:44] 1kevgriff opened #1 "July 10th, 2018 Meeting - Steve Albers"
Date: July 10th, 2018
Speaker: Steve Albers
Sponsor: Swift Kick
https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/248779569/

[2018-06-08 14:44] 1kevgriff opened #2 "August 2018 Meeting - Derik Whittaker"
Date: August 14, 2018
Speaker: Derik Whittaker
Sponsor: Marathon (thanks @TMarsdenMarathon!)
https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/251695779/

Title: `Cultivating your Infrastructure with Terraform`
Abstract:

[2018-06-08 14:45] 1kevgriff opened #3 "September 11th, 2018 Meeting - Dylan Sheffer"
Date: September 11th, 2018
Speaker: Dylan Sheffer @dylansheffer
Sponsors: Issuetrak

[2018-06-08 14:50] 1kevgriff opened #4 "November 13th, 2018 Meeting"
Date: November 13, 2018
Speaker: [ TODO ]
Sponsor: Progress

[2018-06-08 14:52] 1kevgriff opened #5 "December 11th, 2018 Meeting"
Date: December 11th, 2018
Speaker: [ TODO ]
Sponsor:  [ TODO ]

[2018-06-11 06:47] SteveAlbers commented on #1
Date: July 10th, 2018
Speaker: Steve Albers
Sponsor: [TODO]
Title: Progressive Web Apps Today
Description:  Progressive Web Apps can help you build better, more reliable apps today!  In this talk we explain what PWAs are, add PWA support to a web site, and look at the benefits and challenges of building a Progressive Web App today.
Bio:  Steve Albers is a software developer and technology fan focu

[2018-06-11 13:24] 1kevgriff commented on #3
@dylansheffer SOLD

[2018-06-11 17:51] jamessdixon opened #6 "Speaker"
Can we get someone a bit more creditable?

[2018-06-11 17:52] #6 closed

[2018-06-11 17:52] jamessdixon commented on #2
Can we get someone more creditable?

[2018-06-12 21:12] Blue-speed opened #7 "October 9th, 2018 Meeting"
Date: October 9th, 2018
- [x] Speaker
- [x] Sponsor
- [ ] Create meetup page

[2018-06-12 21:48] TMarsdenMarathon commented on #2
Marathon can sponsor this one.

[2018-06-12 21:50] TMarsdenMarathon commented on #7
Marathon can sponsor this one.

[2018-06-13 17:04] 1kevgriff commented on #2
BIO: Derik Whittaker is a Bit Pusher who specializes in all things .Net and dabbles in the world of Node and Javascript. Derik has been building enterprise systems, mostly on top of the .Net technology stack for over 19 years. Along the way has picked up a thing or two about how to create enterprise scale software systems. During his 19 year career Derik has worked in many different industries ran

[2018-06-25 00:11] dylansheffer commented on #3
# Accessibility isn't inaccessible!

## Bio

### Name:
 Dylan Sheffer

### About:
Dylan Sheffer is a web developer with a passion for accessibility and user-centered design working for Swift Kick. Outside of code, he enjoys playing Stardew Valley, creating cocktails, and drinking tea.

## Abstract

Accessible web development, on the surface, appears to be intimidating and frustrating. However, by

[2018-07-03 12:47] 1kevgriff commented on #2
@Blue-speed We have the abstract and bio from Derik.  Let's schedule and promote early!

[2018-07-10 21:44] jamessdixon commented on #7
I can speak if wanted:
Stock Cars, Raspberry PI, and F# FTCF (For the Checked Flag)

In North Carolina, stock car racing boarders on obsession – with local track racing rivaling high school football as a popular Friday night family activity. Different local tracks have different classes of cars and my son runs in the intro division of 5/8 size car at three local speedways.

In this talk, I will co

[2018-07-10 22:08] #1 closed

[2018-07-10 22:46] 1kevgriff commented on #7
@jamessdixon Consider yourself booked!

[2018-07-10 23:46] 1kevgriff opened #8 "February 12th, 2019 - 10th Anniversary Party"
Let's have a party - and try to invite the people who've made HRNUG what it is over the past 10 years.

[2018-07-10 23:46] 1kevgriff opened #9 "January 8th, 2019 Meeting"

[2018-07-11 00:16] sfaatz commented on #4
Progress would like to sponsor the Nov meeting. Let me know what you need to make it official :-)

[2018-08-14 20:41] Blue-speed commented on #4
@sfaatz its official

[2018-09-06 22:54] #2 closed

[2018-10-01 13:01] #3 closed

[2018-10-01 13:03] Blue-speed opened #10 "March 12th, 2019 meeting"
Date: March 12th, 2019
Speaker: Chris Haddox
Sponsor:  Progress (@sfaatz)

https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/254140449/

[2018-10-01 13:04] Blue-speed opened #11 "April 9th, 2019 Meeting"
Date: April 9th, 2019
Speaker: Kendall Miller (@kendallmiller)
Sponsor: Loupe https://onloupe.com (@kendallmiller )

[2018-10-10 00:04] 1kevgriff commented on #5
Woo woo!

[2018-10-10 10:16] #7 closed

[2018-10-10 16:12] bmsantos commented on #4
I had a great time yesterday listening to James presentation. If there’s interest I can present about Blazor and Bionic Framework

https://bionicframework.github.io/Documentation/

[2018-10-11 22:47] Blue-speed commented on #4
@bmsantos Yes lets have you present. Just need a short bio and presentation description.

[2018-10-15 14:30] bmsantos commented on #4
@Blue-speed, here's the presentation description and a short bio.

### Web 3.0

By 2020 there will be almost nothing that HTML5 cannot do that Flash could. It just so happens that at this time frame Adobe is also killing Flash and the Web 2.0 should be officially complete (or close to).

So what’s next?

In 2017 Google compiled and released a Google Earth PWA[1]  app demo. The interesting part of

[2018-10-16 18:42] BretFisher commented on #5
## Event Title

Hands-on Labs: Modernizing Windows Applications with Docker!

## Description

HRNUG and Docker Hampton Roads meetups are joining forces for a night of hands-on workshops. Bring your laptop and let’s #LearnDocker.

Our main focus will be a lab where you'll learn to Dockerize traditional .NET / Windows applications! We will also have a number of other labs available on a variety of D

[2018-10-16 20:13] 1kevgriff commented on #5
I'm going to try to get Microsoft sponsored Subway or Dominoes.

[2018-10-16 21:38] BretFisher commented on #5
@1kevgriff do those times look good?

[2018-11-08 21:37] BretFisher commented on #5
my event is posted https://www.meetup.com/Docker-Hampton-Roads/events/256250446/

[2018-11-13 15:43] 1kevgriff commented on #4
@bmsantos Is it ok with you if we stream the event tonight?

[2018-11-13 23:13] #4 closed

[2018-11-28 22:00] 1kevgriff opened #12 "May 14th, 2019 Meeting"
Date: May 14th, 2019
Speaker: (Material provided by MS)
Sponsor: Marathon Consulting (@TMarsdenMarathon) - possibly MS too

[2018-11-28 22:01] 1kevgriff opened #13 "June 11th, 2019 Meeting"
Date: June 11th, 2019
Speaker: Sidney Andrews (@seesharprun)
Sponsor:  Progress (@sfaatz)

[2018-12-12 15:57] #5 closed

[2019-01-08 01:42] #9 closed

[2019-01-15 14:19] 1kevgriff opened #14 "July 9th, 2019 Meeting"
Date: July 9th, 2019
Speaker: Joel Hulen @joelhulen
Sponsor: Issuetrak

[2019-01-15 14:34] 1kevgriff commented on #8
Can you believe it?!  It's been 10 years since HRNUG open its doors, and we've been working to support and grow the developer community ever since.

Take time out of your schedule to come hang out with us, talk about the history of HRNUG, and more importantly, the FUTURE of HRNUG.  What can we do to help you grow as a professional?

Food and drinks provided by Swift Kick

[2019-01-15 15:25] Haddox19 commented on #10
I am interested in speaking. I have been an application developer for 9 years. Maybe I could share something to do with automated builds and releases in TFS 2018?

[2019-01-15 15:58] 1kevgriff commented on #10
@Haddox19 Sold!  Pass us an abstract/bio?

[2019-01-15 21:32] Blue-speed opened #15 "August 13th, 2019 Meeting"
Date: August 13th, 2019
Speaker: Linda Nichols @lynnaloo
Sponsor: [ TODO ]

[2019-01-15 21:33] Blue-speed opened #16 "September 10th, 2019 Meeting"
Date: September 10th, 2019
Speaker: Kevin Jones (@vcsjones)
Sponsor: Marathon Consulting (@TMarsdenMarathon)

[2019-01-15 21:34] Blue-speed opened #17 "October 8th, 2019 Meeting"
Date: October 8th, 2019
Speaker: Kevin Griffin (@1kevgriff)
Sponsor: Progress (@sfaatz)

[2019-01-15 21:35] Blue-speed opened #18 "November 12th, 2019 Meeting"
Date: November 12th, 2019
Speaker: Drew C @Blue-speed
Sponsor: TECHEAD (@AHSNEAD)

[2019-01-15 21:36] Blue-speed opened #19 "December 10th, 2019 Meeting"
Date: December 10th, 2019
Speaker: Sidney Andrews (@seesharprun)
Sponsor: Vaco

[2019-01-17 18:34] 1kevgriff commented on #10
@Haddox19 Can you email me at kevin@kevgriffin.com?

[2019-01-20 22:31] 1kevgriff commented on #11
Fantastic!  You're in @kendallmiller

[2019-01-20 22:38] kendallmiller commented on #11
We (Loupe) can also sponsor that week as well.

[2019-01-20 22:41] 1kevgriff commented on #11
Done!

[2019-02-12 23:43] #8 closed

[2019-02-13 16:38] 1kevgriff opened #20 "Wish List"
What would you like to see at HRNUG?

[2019-02-13 17:07] 1kevgriff commented on #10
@Haddox19 Need title/abstract/bio please.

[2019-02-14 20:38] 1kevgriff commented on #12
Hosting a Visual Studio 2019 Launch party
https://github.com/Microsoft/VisualStudio2019Launch

[2019-02-21 03:01] Haddox19 commented on #10
Azure DevOps: Builds, Releases and Deployment Groups

A walkthrough for creating builds and releases using TFS

Hi, I am Chris Haddox. I have been working as a .NET Application Developer since 2011. My responsibilities cover full stack development including Database, Back-end, Front-end, Server/Network Configuration, Deployments and anything else that could go wrong in an application's life cycle.

[2019-02-21 03:02] Haddox19 commented on #10
How much time do I have to present?

[2019-02-21 13:32] 1kevgriff commented on #10
@Haddox19 About 60-75 minutes, whatever you need.

[2019-02-22 15:43] TMarsdenMarathon commented on #16
Put Marathon down as a sponsor for this one.

[2019-02-22 15:44] TMarsdenMarathon commented on #12
Marathon will sponsor this one.

[2019-02-22 15:46] 1kevgriff commented on #16
done!  thanks!

[2019-03-01 14:57] sfaatz commented on #10
Progress would like to sponsor. Pizza and prizes? Let me know if that works.

[2019-03-01 14:58] 1kevgriff commented on #10
@sfaatz Fantastic!  That works!

[2019-03-01 15:03] sfaatz commented on #13
Progress would like to sponsor.

[2019-03-01 15:04] sfaatz commented on #17
Progress would like to sponsor

[2019-03-01 15:06] 1kevgriff commented on #13
Thank you!!

[2019-03-01 15:07] 1kevgriff commented on #17
Thank you!!!

[2019-03-01 17:44] vcsjones commented on #16
I can take speaker for this one; topic TBD.

[2019-03-01 17:47] 1kevgriff commented on #16
@vcsjones Thank you, sir!

[2019-03-30 22:21] 1kevgriff commented on #11
@kendallmiller Still good to go?

[2019-03-30 22:25] kendallmiller commented on #11
Yep, need to remember to book a hotel :)

[2019-04-01 20:51] #10 closed

[2019-04-03 19:20] seesharprun commented on #13
I'm interested in speaking.

[2019-04-03 19:20] 1kevgriff commented on #13
@seesharprun excellent!

[2019-04-03 19:27] seesharprun commented on #13
Potential title and description:

Introducing Azure DevOps!

DevOps is about people, process, and products. Getting it all right requires effort, but the benefits to your organization and customers can be huge. Microsoft has a fantastic set of products that can help you get the most out of the cloud with any language on any platform. In this demo-heavy talk, Sidney will show you how to use the new

[2019-04-03 19:46] seesharprun commented on #13
Here's a more advanced topic option:

**Docker, .NET Core, and Azure DevOps; Oh My!**

Building .NET Core applications automatically require effort, but the benefits to your organization and customers can be huge. Azure DevOps has a set of tools that make it easier to build .NET Core applications and eventually Dockerize them. In this demo-heavy talk, Sidney will show you how to use the new Azure

[2019-04-10 10:08] #11 closed

[2019-05-14 13:32] 1kevgriff commented on #12
https://visualstudio.microsoft.com/vs2019-launch/

[2019-05-14 16:18] seesharprun commented on #13
What's the capability for an interactive session. I have a system where I can distribute Azure subscriptions to attendees (not Azure Passes) and they can use the Cloud Shell (or a VM) to build their .NET Core applications in Docker.

I don't know if having a hands-on component will bring value-add to your user group.

I also wonder if WiFi will be available for everyone.

[2019-05-17 20:38] #12 closed

[2019-06-13 18:11] lynnaloo commented on #15
I can do a Logic Apps full hour talk or lightning talk.

[2019-06-13 18:13] 1kevgriff commented on #15
SOLD

[2019-06-13 18:14] #13 closed

[2019-06-18 12:23] joelhulen commented on #14
I would like to present the following:

Title: Serverless + AI == Awesome!

Abstract:
Serverless is all the rage these days, particularly because of how it abstracts away infrastructure and lets you focus on building your applications instead. Microservices have been used for years as a way to break up monolithic applications to smaller components that can have separate deployment and scaling requ

[2019-06-18 14:30] 1kevgriff commented on #14
👍

[2019-07-12 11:02] drew-carpenter commented on #15
@lynnaloo can you provide a description for your talk.

[2019-07-17 10:09] #14 closed

[2019-07-17 18:06] lynnaloo commented on #15
Serverless Integrations with Logic Apps

Logic Apps is part of the Serverless toolset on Microsoft Azure and is a powerful automation and workflow tool. However, one of its amazing and understated strengths is as an integration tool. It can be used with smaller and enterprise applications to connect internal and external APIs, Serverless Applications, business applications, and even on-premises sy

[2019-08-13 12:51] drew-carpenter commented on #15
Issuetrak is sponsoring

[2019-08-14 10:04] #15 closed

[2019-08-14 10:05] Blue-speed commented on #16
@vcsjones can you provide an abstract for your talk?

[2019-08-16 16:16] vcsjones commented on #16
*Title*: "C# 8 Nullable Reference Types - What Are They?"

*Abstract*:
C# 8 introduces a new feature called Nullable Reference Types. What are they, and how we can use them to be better C# developers by reducing bugs and making code easier to understand?

In this session we'll discuss what Nullable Reference Types are, how to use them and adopt them effectively. We'll take what we have learned and

[2019-09-11 00:30] #16 closed

[2019-09-12 23:15] Blue-speed opened #21 "January 14th, 2020 Meeting"
Date: January 14th, 2020
Speaker: Jenna Charlton (@jcharlton77)
Sponsor: APEX Systems (smenees@apexsystems.com - Shannon Menees)

Talk via Zoom link.

[2019-09-12 23:32] Blue-speed opened #22 "February 11, 2020 Meeting"
Meeting Date: February 11, 2020
Speaker: Joel Hulen (@joelhulen)
Sponsor: [ TODO ]

[2019-09-12 23:32] Blue-speed opened #23 "March 10, 2020 Meeting"
Meeting Date: March 10, 2020
Speaker: Brady Gaster (@bradygaster)
Sponsor: [ TODO ]

[2019-09-12 23:33] Blue-speed opened #24 "April 14, 2020 Meeting"
Meeting Date: April 14, 2020
Speaker:
Sponsor: Issuetrak @drew-carpenter

[2019-09-12 23:33] drewgle opened #25 "May 12, 2020 Meeting"
Meeting Date: May 12, 2020
Speaker: [ TODO ]
Sponsor: APEX Systems

[2019-09-12 23:34] drewgle opened #26 "June 9, 2020 Meeting"
Meeting Date: June 9, 2020
Speaker: Justine Coates (Microsoft)
Sponsor: (probably none due to covid)

[2019-09-12 23:34] drewgle opened #27 "July 14, 2020 Meeting"
Meeting Date: July 14, 2020
Speaker: Sean Whitesells (@seanw112)
Sponsor: [ TODO ]

[2019-09-18 13:25] AHSNEAD commented on #18
TECHEAD would be glad sponsor this event.

[2019-09-18 13:41] 1kevgriff commented on #18
@AHSNEAD You got it!  Thanks!

[2019-10-08 21:26] 1kevgriff commented on #19
Confirmed Vaco as sponsor.

[2019-10-08 21:56] #17 closed

[2019-10-09 12:47] drew-carpenter commented on #24
Issuetrak will sponsor for April

[2019-10-09 13:35] 1kevgriff commented on #21
APEX agreed to sponsor Jan.

[2019-10-09 13:35] 1kevgriff commented on #25
APEX Systems agreed to sponsor!

[2019-10-21 16:59] joelhulen commented on #18
I cannot commit because I may be out of town that week. I'll know for sure by the end of the week. If I am in town and no one else has stepped up, I'll submit a session.

[2019-10-28 20:26] Blue-speed commented on #18
I will be talking about Linqpad.

[2019-11-18 11:02] #18 closed

[2019-11-18 20:50] seesharprun commented on #19
I’m interested in speaking!

[2019-11-18 20:51] 1kevgriff commented on #19
SOLD!  Give us some options?  We'll start promoting asap

[2019-11-18 21:13] seesharprun commented on #19
What about Visual Studio Online? I’m digging into it deeply as part of a pilot to use it with Chromebook-restricted classrooms

[2019-11-18 21:14] seesharprun commented on #19
Other potential topic: Microsoft’s new Identity Platform and how you can use it to integrate with AAD or Microsoft Accounts in a few lines of code. I can even throw in some Graph queries and traversal.

Just pick a topic and I will put together a title and abstract

[2019-11-18 21:37] 1kevgriff commented on #19
@seesharprun Identity sounds great and more applicable to members.

[2019-11-18 21:55] seesharprun commented on #19
I contributed some of the Graph Auth SDK code so I will put together a talk around MSAL, Microsoft Identity platform and the Graph

[2019-11-21 20:01] bradygaster commented on #23
I can do this one.

[2019-11-21 20:04] 1kevgriff commented on #23
@bradygaster You're the man!  We'll do the talk over zoom

[2019-11-22 15:53] lvanlowe commented on #24
I will be able to speak

[2019-11-22 15:58] 1kevgriff commented on #24
Thanks @lvanlowe!!!

[2019-11-27 02:19] jcharlton777 commented on #21
Jenna Charlton
Testing 101 for Devs

[2019-11-27 13:35] 1kevgriff commented on #21
Thanks @jcharlton777!!

[2019-12-11 13:32] 1kevgriff opened #28 "August 11th, 2020 Meeting"
Meeting Date: August 11th, 2020
Speaker: Sarah Dutkiewicz (@sadukie)

[2019-12-11 13:33] 1kevgriff opened #29 "September 8th, 2020 Meeting"
Meeting Date: September 8th, 2020
Speaker: [ TODO ]
Sponsor: [ TODO ]

[2019-12-11 13:34] 1kevgriff opened #30 "October 13th, 2020 Meeting"
Meeting Date: October 13th, 2020
Speaker: Chad Green (@chadgreen)

[2019-12-11 13:36] #19 closed

[2019-12-12 11:19] Blue-speed commented on #21
@jcharlton77 can you give us a brief synopsis of your talk?

[2019-12-12 19:00] bradygaster commented on #23
@1kevgriff what time of day will this be? or, send me an invite. :)

[2019-12-12 19:02] 1kevgriff commented on #23
@bradygaster 6:30pm ET, so 3:30p your time?

We can create the meetup invite now so it's on your calendar.

[2019-12-12 19:04] bradygaster commented on #23
I presume you have my email addy. jic it's first name last-name-initial at you know where dot com.

[2019-12-12 19:05] 1kevgriff commented on #23
@bradygaster Know what you want to speak on?  Anything juicy that hasn't been released?

[2019-12-18 18:45] jcharlton777 commented on #21
I'm so sorry this fell off my radar. Here's the abstract :)

In Agile, quality has become a team responsibility. Increasingly developers and non-testers are being asked to test and ""shift left"" but are rarely given the tools to ensure their testing is up to snuff. This often results in wasted time and effort and costly bugs. In this session, we’ll cover some of the basics of exploratory testing,

[2019-12-18 22:21] 1kevgriff commented on #21
Join me at January 2020: Jenna Charlton: Testing 101 for Devs

 http://meetu.ps/e/HxTBL/1MKqv/a

[2020-01-05 03:50] joshdcar commented on #25
I'd be happy to speak.  I can send you some talk options.

[2020-01-05 23:15] 1kevgriff commented on #25
Excellent!  Thanks @joshdcar.

[2020-01-06 22:21] bradygaster commented on #23
@1kevgriff well I wouldn't be able to disclose something secret in this forum, now would I....?

[2020-01-14 21:06] joelhulen commented on #22
I'm interested in speaking. I'll do an Azure-focused talk about real-time stream processing.

If no one steps up to sponsor prior to then, I may do that as well.

[2020-01-14 21:12] 1kevgriff commented on #22
@joelhulen SOLD

[2020-01-20 18:18] #21 closed

[2020-02-06 16:25] 1kevgriff commented on #22
@joelhulen You still up for sponsoring as well?

[2020-02-06 16:46] joelhulen commented on #22
If no one else steps up, sure.

[2020-02-10 18:58] 1kevgriff commented on #22
@joelhulen No other takers - so we'd love it if you'd cover food/drinks.

[2020-02-17 15:33] #22 closed

[2020-02-17 15:34] Blue-speed commented on #23
@bradygaster can you provide a bio and short synopses of your talk? Thanks.

[2020-02-17 15:34] Blue-speed commented on #24
@lvanlowe can you provide a bio and short synopses of your talk? Thanks.

[2020-02-17 15:34] Blue-speed commented on #25
@joshdcar can you provide a bio and short synopses of your talk? Thanks.

[2020-02-25 19:42] bradygaster commented on #23
So sorry for the lag, folks! Here you are:

Bio
Brady Gaster is a senior program manager in the ASP.NET team at Microsoft, where he works on SignalR, microservices and APIs, and integration with Azure service teams in hopes to make it exciting for developers who work on .NET apps to party in the cloud. You can find Brady on Twitter at @bradygaster when he's not learning with (or from) his 2 sons,

[2020-03-20 17:33] #23 closed

[2020-03-20 17:35] 1kevgriff commented on #24
Shot an email to @lvanlowe - this meeting with be virtual.

[2020-03-25 12:34] 1kevgriff commented on #24
@lvanlowe prefers not to do virtual meetings, so we'll save him to a physical meeting whenever we're allowed to have them again!

[2020-03-25 12:44] mgroves commented on #24
I'd be happy to. Some of the sessions I have prepared: crosscuttingconcerns.com/speaking

[2020-03-25 12:45] 1kevgriff commented on #24
@mgroves I'll poll the group and see what they want by EOW.

[2020-03-29 23:24] 1kevgriff commented on #24
@mgroves How about 'Autonomous Microservices'?

[2020-03-30 21:16] mgroves commented on #24
Works for me @1kevgriff - what else do you need from me?

[2020-04-08 18:05] 1kevgriff commented on #24
@mgroves I'll email you a panelist link for Zoom webinar.

[2020-04-08 18:10] 1kevgriff commented on #24
@mgroves @drew-carpenter you both should have got panelist emails for the meeting.  We're using zoom webinar to help keep a handle on chatter

[2020-04-08 19:05] mgroves commented on #24
Is there a URL I should use to promote/tweet the upcoming meetup? @1kevgriff

[2020-04-08 20:06] 1kevgriff commented on #24
https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/269729578/

[2020-04-30 16:55] #24 closed

[2020-05-01 18:09] 1kevgriff commented on #26
@drewgle Justine Coates from the Bing Maps team is going to join us!

[2020-05-01 18:21] IoTGirl commented on #26
About Justine:
The Microsoft Maps and Geospatial team creates The Bing Maps for Enterprise product. Within that team there is a smaller team that focuses on direct technical engagements with customers called Bing Maps “CAT”. Justine Coates, AKA IoTGirl, is a Technical Evangelist on that team and, while she has only been with Bing for 2 years, she has more than 20 years experience at Microsoft.

[2020-05-22 13:34] #25 closed

[2020-05-22 13:35] 1kevgriff commented on #26
@IoTGirl Our RSVP site is up at https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/270809206/ if you'd like to promote!  I'll email you zoom calendar info separately.

[2020-05-22 13:55] sadukie commented on #28
@1kevgriff  Count me in!

=====

Title: Azure Notebook Adventures with Sarah "sadukie" Dutkiewicz

Abstract:

Is there a relation between buy and sell values on the Animal Crossing marketplace? Does ramen style - cup, bowl, can, or bar - matter when it comes to ratings? We have the data, and we can present our findings with Azure Notebooks! Come on our data adventure and learn more about this grea

[2020-05-29 00:29] seanw122 commented on #27
Sean Whitesell
https://sessionize.com/s/sean-whitesell/microservices_--_the_easy_way_is_th/21876

[2020-05-29 00:36] 1kevgriff commented on #27
sold!

[2020-06-05 02:38] chadgreen commented on #30
How about I give me talk about Cosmos Change Feed?  here are the details:

Ch-ch-ch-changes: Tracing Changes in Azure Cosmos DB

David Bowie might not be able to trace how time changes him, but with the Azure Cosmos DB change feed allows us to trace the changes to your data within your Cosmos database.  The Azure Cosmos DB change feed listens to an Azure Cosmos container for any changes and then o

[2020-06-09 18:06] lynnaloo commented on #29
I'll do an Azure Static Web Apps talk

[2020-06-09 18:27] 1kevgriff commented on #29
SOLD

[2020-06-09 18:27] 1kevgriff commented on #30
SOLD

[2020-06-26 23:45] #26 closed

[2020-06-26 23:49] drewgle opened #31 "November 10, 2020 Meeting"
Meeting Date: November 10, 2020
Speaker: Sidney Andrews
Sponsor: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-06-26 23:49] drewgle opened #32 "December 08, 2020 Meeting"
Meeting Date: December 08, 2020
Speaker: Michael L Perry - ACID 2.0: Designing Better APIs and Messages
Sponsor: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-07-16 00:52] michaellperry commented on #32
## ACID 2.0: Designing Better APIs and Messages
 
Databases uphold 4 promises. Transactions are Atomic, Consistent, Isolated, and Durable. That's fine for the small, directly-connected scope of a database, but what about distributed systems? How can we ensure correctness across APIs and message queues?
 
When we cross compute boundaries, we need a different set of promises. We need to know that th

[2020-07-16 10:03] #27 closed

[2020-07-16 10:03] drewgle commented on #32
SOLD!

[2020-07-22 16:14] seesharprun commented on #31
I want to talk about modern .NET documentation and examples.

Specifically, I am doing a talk on .NET Interactive, Visual Studio Code Native Notebooks, and C# 9 top-level programs. I want to show how we use them in the classroom to teach topics that are normally difficult to show off.

Examples would include

* How we use .NET Interactive and notebooks to teach the new Azure SDK v2 (trying code ha

[2020-08-11 22:29] #28 closed

[2020-08-11 23:00] 1kevgriff commented on #29
@lynnaloo Abstract plskthx

[2020-08-12 17:42] lynnaloo commented on #29
**Makeover your old web sites with Azure Static Web Apps**

Do you have some older web sites just sitting in your Github account and deployed to various PaaS providers? Have you delayed modernizing these applications because it's just too much hassle?

Well, modernization is just another work for "makeover." Let's dust off some of those older applications and give them an Azure makeover. Together

[2020-09-08 22:48] #29 closed

[2020-11-09 17:08] #30 closed

[2020-11-09 17:08] 1kevgriff commented on #31
@seesharprun Tried to follow up on social - but I sent you a calendar invite for tomorrow.

[2020-11-09 21:20] seesharprun commented on #31
I thought I responded via social. I apologize. Everything is good to go for tomorrow!

[2020-11-21 20:31] #31 closed

[2020-11-21 20:36] drewgle opened #33 "January 12, 2021 Meeting"
Meeting Date: January 12, 2021
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-21 20:37] drewgle opened #34 "February 9, 2021 Meeting"
Meeting Date: February 9, 2021
Speaker: Joe Guadagno (@jguadagno)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-21 20:37] drewgle opened #35 "March 9, 2021 Meeting"
Meeting Date: March 9, 2021
Speaker: Sean Killeen (@SeanKilleen)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-21 20:38] drewgle opened #36 "April 13, 2021 Meeting"
Meeting Date: April 13, 2021
Speaker: @lprichar

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-21 20:39] drewgle opened #37 "May 11, 2021 Meeting"
Meeting Date: May 11, 2021
Speaker: Kevin Joins (@vcsjones)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-21 20:39] drewgle opened #38 "June 8, 2021 Meeting"
Meeting Date: June 8, 2021
Speaker: Linda Nichols (@lynnaloo)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2020-11-30 14:02] 1kevgriff commented on #32
@michaellperry Sent you an invite for the meeting.  We'll use zoom!

[2020-11-30 14:38] michaellperry commented on #32
Awesome. Thank you!

On Mon, Nov 30, 2020 at 8:02 AM Kevin Griffin <notifications@github.com>
wrote:

--
Michael L Perry
http://qedcode.com

[2020-12-21 11:24] #32 closed

[2021-01-16 22:31] #33 closed, assigned to nobody

[2021-01-25 15:17] vcsjones commented on #37
I would like to do May 11th. Topic TBD, but will work something out soon in the near term.

[2021-01-25 15:33] 1kevgriff commented on #37
@vcsjones SOLD - we'll reach out in April

[2021-01-26 14:26] jguadagno commented on #34
I'm available.  Sessions can be found at https://www.josephguadagno.net/presentations.

[2021-01-26 14:26] jguadagno commented on #35
I'm available.  Sessions can be found at https://www.josephguadagno.net/presentations.

[2021-01-26 14:26] jguadagno commented on #36
I'm available.  Sessions can be found at https://www.josephguadagno.net/presentations.

[2021-01-26 14:54] 1kevgriff commented on #34
@jguadagno Let's do Feb.  What topics could you have ready for that?

[2021-01-26 15:04] SeanKilleen commented on #35
I'm available if you'd like!

List of current sessions here: https://seankilleen.com/Talks/

But I'm definitely up to create a new abstract if the listed talks don't resonate -- feel free to reach out and we can hone in on a topic that the group may benefit from.

Thanks!

[2021-01-26 15:04] SeanKilleen commented on #36
I'm available if you'd like!

List of current sessions here: https://seankilleen.com/Talks/

But I'm definitely up to create a new abstract if the listed talks don't resonate -- feel free to reach out and we can hone in on a topic that the group may benefit from.

Thanks!

[2021-01-26 15:06] 1kevgriff commented on #35
@SeanKilleen sold!

[2021-01-26 15:06] 1kevgriff commented on #35
@SeanKilleen We'll reach out in Feb to settle on topic.  Thanks!

[2021-01-26 15:10] jguadagno commented on #34
- [A lap around Azure](https://www.josephguadagno.net/presentations/a-lap-around-microsoft-azure)
- [Application Architecture Patterns](https://www.josephguadagno.net/presentations/application-architecture-patterns)
- [Debugging Tips and Tricks in Visual Studio](https://www.josephguadagno.net/presentations/debugging-tips-and-tricks-with-visual-studio) - Doing the for Las Vegas UG next week
- [.NET

[2021-01-26 16:31] 1kevgriff commented on #34
@jguadagno Let's do "Application Architecture Patterns"

[2021-01-26 20:11] lynnaloo commented on #38
I can take this date. I'll throw a few topics out when it gets closer.

[2021-01-26 20:17] lynnaloo commented on #37
ooh I'm excited about this :)

[2021-01-26 20:27] 1kevgriff commented on #38
SOLD!

[2021-02-09 22:38] #34 closed, assigned to nobody

[2021-02-15 19:25] lynnaloo commented on #38
Tentatively, I'm going to talk about Durable Functions.

[2021-02-25 14:33] SeanKilleen commented on #35
Hey all! Spoke with @1kevgriff and worked out a topic. Wanted to reach out here so you could prepare the meetup.

* **Title:** The Joy of Functional Testing with SpecFlow
* **Abstract:** Functional testing is a great way to ensure we're not just building the thing right, but building the right thing. In this session, we'll examine the testing pyramid, the place of functional testing, and how to wr

[2021-03-10 12:30] SeanKilleen commented on #35
So, fun story -- Meetup hit some sort of loop when I tried to post a second comment, and now it thinks I'm over a daily comment limit of 20. So I can't post this follow-up to the group until tomorrow. (A brief aside: it provides its API response error wrapped inside of a 200 OK status code. Gah!)

So, I'll post this tomorrow.

____

I wanted to answer two of the remaining questions here:

Q: Can I

[2021-03-10 19:02] lprichar commented on #36
# Lee Richardson Bio

Lee is a Microsoft MVP and a prolific writer, speaker, and youtuber on .Net and open source topics. He has published over 100 posts to his personal blog (https://www.leerichardson.com) that have received more than half a million views since 2007. His "Code Hour" YouTube channel (https://youtube.com/leerichardson200) has attracted over 1,000 subscribers who have collectively c

[2021-03-23 15:44] 1kevgriff commented on #36
@lprichar Let's go with "Blazor WebAssembly vs. Angular Client Side Shootout"

[2021-04-01 20:32] #35 closed, assigned to nobody

[2021-04-06 15:07] vcsjones commented on #37
## Topic

**Title**: Everything (maybe too much) about stackalloc
**Abstract**:
`stackalloc` is a keyword that has existed since C# 1.0, yet was a little-used feature. Recently it has gotten significant attention thanks to the introduction of `Span<T>` in .NET Core, largely because it offers significant performance improvements in the right circumstances. We'll be looking at `stackalloc` in-depth,

[2021-04-13 23:56] #36 closed, assigned to nobody

[2021-05-02 12:27] drewgle opened #40 "July 13, 2021 Meeting"
Meeting Date: July 13, 2021
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-05-02 12:27] drewgle opened #41 "August 10, 2021 Meeting"
Meeting Date: August 10, 2021
Speaker: Chris Woodruff (@cwoodruff)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-05-02 12:27] drewgle opened #42 "September 14, 2021 Meeting"
Meeting Date: September 14, 2021
Speaker: Brian Gorman (@blgorman)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-05-02 12:28] drewgle opened #43 "October 12, 2021 Meeting"
Meeting Date: October 12, 2021
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-05-02 12:28] drewgle opened #44 "November 9, 2021 Meeting"
Meeting Date: November 9, 2021
Speaker: Taylor Desseyn (tdesseyn@vaco.com)

Bio:
Taylor has been recruiting at Vaco since 2011 (and recruiting is like dog years, so he has a lot of experience to speak to). While he recruits on every skillset within technology, his main focus is on software engineers and developers. He has met over 4,000 engineers and helped place over 450+ people in their dream jo

[2021-05-02 12:29] drewgle opened #45 "December 14, 2021 Meeting"
Meeting Date: December 14, 2021
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-05-11 21:55] #37 closed, assigned to nobody

[2021-06-03 13:13] lynnaloo commented on #38
Automate your Office Space with Durable Functions

Durable Functions is an extension of Azure Functions that lets you write stateful functions in a serverless compute environment (blasphemy!). You focus on your business logic and the extension helps you manage state, checkpoints, and restarts for you.

In this talk, we’ll be diving into the popular Durable Functions design patterns. We’ll discuss

[2021-06-03 13:14] 1kevgriff commented on #38
@lynnaloo thank you!!

[2021-06-21 19:54] #38 closed, assigned to nobody

[2021-07-08 23:50] #40 closed, assigned to nobody

[2021-07-16 16:04] 1kevgriff commented on #41
Claimed by Chris Woodruff (@cwoodruff)

[2021-07-16 18:01] cwoodruff commented on #41
Bio
Chris Woodruff, AKA Woody, is the Team Leader of Developer Relations at Quicken Loans, the nation’s largest mortgage lender based in Detroit, Michigan. Woody has over 25 years of experience when he started his career before the first .COM boom. He has spoken at many events worldwide, covering software development and architecture topics such as database development, APIs, and web development.

[2021-07-20 14:58] 1kevgriff commented on #41
I'm getting topic feedback from the group right now!  We'll decide by the end of the week.

[2021-07-26 20:49] 1kevgriff commented on #41
@cwoodruff Let's go ahead and do the EF talk - looking forward to it!

@drewgle update on the meetup?

[2021-07-27 10:18] drewgle commented on #41
Meeting has been published on meetup https://www.meetup.com/Hampton-Roads-NET-Users-Group/events/279336661

[2021-08-05 22:32] blgorman commented on #42
Hello @drewgle and @1kevgriff
I can do my talk on What's New in EFCore5 and coming in EFCore6

https://sessionize.com/s/brian-gorman/whats_new_in_efcore5_and_coming_in_/39855

[2021-08-05 22:50] 1kevgriff commented on #42
We have an EF talk in August.  Any other talks?

Kevin

On Thursday, August 5, 2021, Brian Gorman ***@***.***> wrote:

--
*Kevin Griffin*   Consultant, Trainer, 11x Microsoft MVP
[image: photo] Phone: +1 757-729-1983 <+1+757-729-1983>
Email: ***@***.***
Website: https://consultwithgriff.com
Skype: kevgriffin83
<http://github.com/1kevgriff> <http://us.linkedin.com/in/1kevgriff>
<http://twitter.com/

[2021-08-06 01:59] blgorman commented on #42
Ha ha, sure.  I didn't see that one.  Mine would be real similar.

I have a talk on Orchestrating Serverless Solutions with Azure Logic Apps, a talk on Azure Functions and APIM, and a talk on DevOps (currently reworking this one a bit).  I could refocus the DevOps to GitHub actions if that would be more desirable.  Let me know if any of those work.

https://sessionize.com/brian-gorman/

[2021-08-10 17:32] 1kevgriff commented on #42
@blgorman I actually like the AF and APIM talk if you're up for it?

[2021-08-10 18:05] blgorman commented on #42
Sounds great.  Thanks for the opportunity to present to your audience :)

[2021-08-12 00:00] #41 closed, assigned to nobody

[2021-09-15 10:25] #42 closed, assigned to nobody

[2021-09-27 17:32] 1kevgriff commented on #43
@drewgle abstract/bio pending

[2021-09-28 13:52] 1kevgriff commented on #43
@drewgle Abstract/bio updated above

[2021-09-30 13:02] 1kevgriff commented on #43
@drewgle moving Taylor to November - he had a conflict come up

[2021-10-12 21:40] #43 closed, assigned to nobody

[2021-10-12 21:41] drewgle opened #46 "January 11, 2022 Meeting"
Meeting Date: January 11, 2022
Speaker: Chris Gardner (@freestylecoder)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-10-12 21:41] drewgle opened #47 "February 8, 2022 Meeting"
Meeting Date: February 8, 2022
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-10-12 21:42] drewgle opened #48 "March 8, 2022 Meeting"
Meeting Date: March 8, 2022
Speaker: Linda Nichols

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2021-11-24 13:53] #44 closed, assigned to nobody

[2021-11-24 13:53] drewgle commented on #45
Canceled. Enjoy your holidays

[2021-11-24 13:53] #45 closed, assigned to nobody

[2021-12-07 14:15] freestylecoder commented on #46
I should be able to do your January meeting. Just give me an idea of which type of talk you may like (beginner, intermediate, etc)

[2021-12-07 14:19] 1kevgriff commented on #46
Thanks @freestylecoder!  Beginner talks usually work well for online mediums.  Whatcha got?

[2021-12-07 14:28] freestylecoder commented on #46
You can look at all the talks I have at https://sessionize.com/cgardner/  The only one I don't do virtually is the "Macroservices" talk. "Understand How Your CPU Thinks" and "Creating NuGet Packages" seem to go well with more beginner audiences.

[2022-01-11 23:16] drewgle opened #49 "April 12, 2022 Meeting"
Meeting April 12, 2022 Meeting
Speaker: Steve Smith

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-01-11 23:17] drewgle opened #50 "May 10, 2022 Meeting"
Meeting Date: May 10, 2022 Meeting
Speaker: Shahed Chowdhuri

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-01-11 23:17] drewgle opened #51 "June 14, 2022 Meeting"
Meeting Date: June 14, 2022 Meeting
Speaker: David Giard

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-01-12 00:05] #46 closed, assigned to nobody

[2022-02-08 22:44] #47 closed, assigned to nobody

[2022-03-08 22:55] #48 closed, assigned to nobody

[2022-03-10 14:34] 1kevgriff opened #52 "July 12, 2022 Meeting"
Meeting Date: July 12, 2022
Speaker: Joe Kunk

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-03-14 17:06] 1kevgriff commented on #52
@drewgle Updated with Joe Kunk as our speaker.

[2022-03-14 21:53] shahedc commented on #50
@1kevgriff , @drewgle here's the requested information:

**Bio:**

Shahed Chowdhuri is a Senior Technical Program Manager at Microsoft in their CSE (Commercial Software Engineering) group, with 20+ years of experience in the software industry. He's also a published author, blogger, speaker, and former indie game developer. He currently focuses on helping businesses succeed in the cloud and volunte

[2022-03-15 14:25] 1kevgriff commented on #50
Thanks @shahedc !

[2022-04-11 14:30] 1kevgriff commented on #51
Confirmed David Giard @drewgle

[2022-04-11 14:30] 1kevgriff commented on #51
**Blood, Sweat, & Code Reviews**
Code Reviews can sometime be painful and time-consuming, but they are an important part of delivering quality software. A Code Review provides an opportunity to share knowledge, improve code and catch potential problems before they go to production. This can be a positive experience or a negative experience.

In this session, I will discuss the importance of Code R

[2022-04-11 16:14] shahedc commented on #50
@1kevgriff corrected a minor typo, indsustry -> industry

fyi, in case you plan to copy paste the text into the Meetup page or website, etc.

[2022-04-27 12:58] #49 closed, assigned to nobody

[2022-05-23 11:43] #50 closed, assigned to nobody

[2022-06-14 21:45] drewgle opened #53 "August 9, 2022 Meeting"
Meeting Date: August 9, 2022
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-06-14 21:46] drewgle opened #54 "September 13, 2022 Meeting"
Meeting Date: September 13, 2022
Speaker: Sean Whitesell (@seanw122)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-06-14 21:46] drewgle opened #55 "October 11, 2022 Meeting"
Meeting Date: October 11, 2022
Speaker: Adam Lenda

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-06-14 21:47] drewgle opened #56 "November 8, 2022 Meeting"
Meeting Date: November 8, 2022
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-06-14 21:48] drewgle opened #57 "December 13, 2022 Meeting"
Meeting Date: December 13, 2022
Speaker: Kevin Griffin (@1kevgriff)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-06-14 23:27] seanw122 commented on #54
I can speak this night on either https://sessionize.com/s/sean-whitesell/network-fundamentals-for-devs/49341 or https://sessionize.com/s/sean-whitesell/aws-lambdas-in-your-architecture-integration-consi/43694

[2022-06-14 23:29] 1kevgriff commented on #54
@seanw122 you're in!

[2022-06-14 23:32] seanw122 commented on #54
Which one do you want?

[2022-06-24 13:13] 1kevgriff commented on #52
@drewgle

**Windows Desktop Automated Testing with flaUI and C#**

Application testing has many flavors. It can be Unit Tests coded by the application developers to validate public and private methods, or Web user interface testing with a tool like Selenium. In this session, I share my experience from more than a year of user interface testing of a commercial WIndows desktop WPF application, using

[2022-07-12 21:48] #51 closed, assigned to nobody

[2022-07-12 21:48] #52 closed, assigned to nobody

[2022-07-12 23:46] #53 closed, assigned to nobody

[2022-07-25 15:58] 1kevgriff commented on #54
@seanw122 How about Network Fundamentals?  too late for that?

[2022-07-25 16:07] seanw122 commented on #54
Nope not too late. Network Fundamentals it is!

[2022-09-02 13:36] 1kevgriff commented on #54
@drewgle let's get this on the meetup?

[2022-09-19 14:31] #54 closed, assigned to nobody

[2022-09-29 00:05] 1kevgriff commented on #55
Speaker: Adam Lenda
Title: Lessons from 20 years of Software Engineering

Abstract
“Lessons from 20 years of Software Engineering” is a presentation based on the hard lessons Adam has learned through his own mistakes. It came to be as part of an attempt to codify the soft skills that are most important to convey when mentoring software engineers. The presentation will include stories of how he mes

[2022-09-29 00:06] 1kevgriff commented on #55
@drewgle we got a speaker!

[2022-10-11 17:27] 1kevgriff commented on #56
Skipping this month

[2022-10-11 17:27] #56 closed, assigned to nobody

[2022-10-11 17:29] 1kevgriff commented on #57
Title: Tactics for Building Background Services in .NET

Abstract:
Mature applications often find themselves in the predicament of having to do work "behind the scenes." Frequently this could be simple tasks such as sending emails or updating statistics. Or it could be something more complicated, like processing incoming files or building reports. These tasks should not impede the user experience

[2022-10-11 17:29] 1kevgriff commented on #57
@drewgle ^^^

[2022-11-30 16:53] #55 closed, assigned to drewgle

[2022-11-30 16:54] 1kevgriff opened #58 "January 10, 2023 Meeting"
Meeting Date: January 10, 2023 Meeting
Speaker: [ TODO ]

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-11-30 17:06] 1kevgriff opened #59 "February 14, 2023 Meeting"
Meeting Date: February 14, 2023
Speaker: Josh Carlisle @joshdcar

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-11-30 17:07] 1kevgriff opened #60 "March 14, 2023 Meeting"
Meeting Date:  March 14, 2023
Speaker: Dan Moore (@mooreds)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-11-30 17:07] 1kevgriff opened #61 "April 11, 2023 Meeting"
Meeting Date: April 11, 2023
Speaker: Adora Nwodo (@AdoraNwodo)

Speakers please provide a short bio, topic and description to help us announce and promote your talk.

[2022-11-30 17:08] 1kevgriff opened #62 "May 9, 2023 Meeting"
Meeting Date: May 9, 2023
Speaker: @RVAProgrammer Tom Becker

Speakers please provide a short bio, topic and description to help us announce and promote your talk.